

body {
    margin: 0px auto;
    max-width: 1300px;
    background-color: #FFF;
}

@import url('https://fonts.googleapis.com/css?family=Dosis');


a:link {
  text-decoration: none;
  color: #242834;
}

a:visited {
  text-decoration: none;
  color: #242834;
}

a:hover {
  text-decoration: none;
  color: #FF5252;
}

a:active {
  text-decoration: none;
  color: #242834;
}

a:hover:after {
	content: '';
	width: 100%;
	height: 2px;
	background-color: red;
	opacity: 1;
	}

a:after {
    content: '';
    position: relative;
    width: 4px;
    height: 2px;
    background-color: red;
    display: block;
    top: 2px;
    margin: 0 auto;
    opacity: 0;
    transition: 0.25s opacity ease 0.1s, 0.25s width ease-in-out;
}

/*font-family: 'Dosis', sans-serif;*/

/*BRAND COLORS
Yellowcard------#F5D71D
Blue October----#242834
Cherry Bomb-----#FF5252
Aqua------------#35BBDE
White Stripes---#FFF
*/

/*UNIVERSAL TEXT STYLES START*/
.heading-white{
	font-family: 'Dosis', sans-serif;
	font-weight: bold;
	color: #FFF;
	text-align: center;
	font-size: 48px;
	padding-top: 100px;
	letter-spacing: 3px;

}

.heading-yellow{
	font-family: 'Dosis', sans-serif;
	font-weight: bold;
	color: #F5D71D;
	text-align: center;
	font-size: 48px;
	padding-top: 100px;
	letter-spacing: 3px;

}

.heading-blue{
	font-family: 'Dosis', sans-serif;
	font-weight: bold;
	color: #35BBDE;
	text-align: center;
	font-size: 48px;
	padding-top: 100px;
	letter-spacing: 3px;

}

.body-white{
	font-family: 'Dosis', sans-serif;
	color: #FFF;
	text-align: left;
	font-size: 28px;
	padding-top: 20px;

}

.body-white-center{
	font-family: 'Dosis', sans-serif;
	color: #FFF;
	text-align: center;
	font-size: 28px;
	padding-top: 20px;

}

.tag-body-white{
	font-family: 'Dosis', sans-serif;
	color: #FFF;
	text-align: center;
	font-size: 28px;
	padding-top: 20px;

}

.step-heading-blue{
	padding-bottom: 50px;
	font-size: 45px;
	color: #35BBDE;
	font-family: 'Dosis', sans-serif;

}

.step-heading-red{
	padding-bottom: 50px;
	font-size: 45px;
	color: #FF5252;
	font-family: 'Dosis', sans-serif;

}

.step-heading-yellow{
	padding-bottom: 50px;
	font-size: 45px;
	color: #F5D71D;
	font-family: 'Dosis', sans-serif;


}

/*UNIVERSAL TEXT STYLES END*/


/*HEADER STYLES START*/

.nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	background-color: #F5D71D;
}

.header-bar{
	background: #F5D71D;
	width: 1200px;
	height: 80px;
	position: fixed;
	top: 0;
	border-bottom: solid #242834 1px;
	z-index: 9;
}

.nav-items ul{
	padding: 0px;
}

.nav-items ul li{
	display: inline-block;
	font-size: 25px;
	list-style: none;
	font-family: 'Dosis', sans-serif;
	color: #242834;
	padding-left: 20px;
	padding-right: 20px;
}

.logo{
	background-image: url(https://i.imgur.com/zGfNgLd.png);
	width: 500px;
	height: 70px;
	margin-top: 3px;
	margin-left: 5px;
	
}




/*HEADER STYLES End*/





/*HERO STYLES START*/

.hero{
	background-image: url("https://i.imgur.com/QjF13cZ.png");
	max-width: 1200px;
	height: 521px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

/*HERO STYLES END*/



/*SERVICE STYLES START*/
.service{
	background: #242834;
	max-width: 1200px;
	height: 300px;
}

/*SERVICE STYLES END*/


/*HOW IT WORKS STYLES START*/
.how{
	background: #242834;
	max-width: 1200px;
	height: 650px;
}

.shadow-box{
	background: #242834;
	width: 1100px;
	height: 600px;
	/*box-shadow: 1px 0 4px 8px rgba(0,0,0,0.15);*/
	margin: auto;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: column;
	transition: 0.4s ease-in-out;
}

.shadow-box:hover{
	background: #242834;
	width: 1100px;
	height: 600px;
	box-shadow: 1px 0 4px 8px rgba(0,0,0,0.15);
	margin: auto;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: column;
	transform: translateY(-20px);
	transition: 0.4s ease-in-out;
}

.shadow-wrapper{
	margin: 40px;
	display: flex;
}

.step-item{
	padding-left: 25px;
	padding-right: 25px;
}


.step-heading{
	padding-bottom: 50px;
	font-size: 45px;
	color: #35BBDE;
	font-family: 'Dosis', sans-serif;

}

.heading-red-how{
	font-family: 'Dosis', sans-serif;
	font-weight: bold;
	color: #FF5252;
	text-align: center;
	font-size: 48px;
	padding-top: 0px;
	letter-spacing: 3px;
	margin-top: 100px;

}

/*HOW IT WORKS STYLES END*/




/*PLAN STYLES START*/
.plans{
	background: #242834;
	max-width: 1200px;
	height: 700px;
}


.shadow-box2{
	background: #242834;
	width: 1100px;
	height: 300px;
	margin: auto;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: column;
}

.shadow-wrapper2{
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 40px;
	margin-right: 40px;
	display: flex;
}

.plan-card{
	width: 320px;
	height: 450px;
	background-color: #D8D8D8;
	border-radius: 20px;

}



.aqua{
 background-color: #35BBDE;
 transition: 0.4s ease-in-out;}

.red{
	background-color: #FF5252;
	transition: 0.4s ease-in-out;
}

.yellow{
	background-color: #F5D71D;
	transition: 0.4s ease-in-out;
}



.plan-card.aqua:hover{
	width: 320px;
	height: 450px;
	/*background-color: #c5d7dc;*/
	background-color: #35BBDE;
	border-radius: 20px;
	box-shadow: 1px 0 4px 8px rgba(0,0,0,0.25);
	transform: translateY(-20px);
	transition: 0.4s ease-in-out;

}


.plan-card.red:hover{
	width: 320px;
	height: 450px;
	background-color: #FF5252;
	border-radius: 20px;
	box-shadow: 1px 0 4px 8px rgba(0,0,0,0.25);
	transform: translateY(-20px);
	transition: 0.4s ease-in-out;
}


.plan-card.yellow:hover{
	width: 320px;
	height: 450px;
	background-color: #F5D71D;
	border-radius: 20px;
	box-shadow: 1px 0 4px 8px rgba(0,0,0,0.25);
	transition: 1s background-image ease;
	transform: translateY(-20px);
	transition: 0.4s ease-in-out;
}

.plan-name{
	padding-bottom: 50px;
	font-size: 45px;
	color: #242834;
	font-family: 'Dosis', sans-serif;
	text-align: center;
	padding-top: 20px;

}

.heading-white-plans{
	font-family: 'Dosis', sans-serif;
	font-weight: bold;
	color: #FFF;
	text-align: center;
	font-size: 48px;
	letter-spacing: 3px;
	margin-top: 100px;

}

.button-shuffle-plan{
	width: 250px;
	height: 60px;
	margin-left: 40px;
	margin-top: 60px;
	border-radius: 40px;
	font-family: 'Dosis', sans-serif;
	color: #242834;
	text-align: center;
	font-size: 30px;
	background-color: #F5D71D;
	border: 0px;
	letter-spacing: 1px;
	transition: 0.2s ease-in-out
}

.button-shuffle-plan:hover{
	width: 250px;
	height: 60px;
	margin-left: 40px;
	margin-top: 60px;
	border-radius: 40px;
	font-family: 'Dosis', sans-serif;
	color: #242834;
	text-align: center;
	font-size: 30px;
	background-color: #FF5252;
	border: 0px;
	letter-spacing: 1px;
	transition: 0.2s ease-in-out;

}

.button-tour-plan{
	width: 250px;
	height: 60px;
	margin-left: 40px;
	margin-top: 120px;
	border-radius: 40px;
	font-family: 'Dosis', sans-serif;
	color: #242834;
	text-align: center;
	font-size: 30px;
	background-color: #35BBDE;
	border: 0px;
	letter-spacing: 1px;
	transition: 0.2s ease-in-out
}

.button-tour-plan:hover{
	width: 250px;
	height: 60px;
	margin-left: 40px;
	margin-top: 120px;
	border-radius: 40px;
	font-family: 'Dosis', sans-serif;
	color: #242834;
	text-align: center;
	font-size: 30px;
	background-color: #F5D71D;
	border: 0px;
	letter-spacing: 1px;
	transition: 0.2s ease-in-out;

}

.button-reunion-plan{
	width: 250px;
	height: 60px;
	margin-left: 40px;
	margin-top: 120px;
	border-radius: 40px;
	font-family: 'Dosis', sans-serif;
	color: #242834;
	text-align: center;
	font-size: 30px;
	background-color: #FF5252;
	border: 0px;
	letter-spacing: 1px;
	transition: 0.2s ease-in-out
}

.button-reunion-plan:hover{
	width: 250px;
	height: 60px;
	margin-left: 40px;
	margin-top: 120px;
	border-radius: 40px;
	font-family: 'Dosis', sans-serif;
	color: #242834;
	text-align: center;
	font-size: 30px;
	background-color: #35BBDE;
	border: 0px;
	letter-spacing: 1px;
	transition: 0.2s ease-in-out;

}

/*PLAN STYLES END*/



/*GENRE STYLES START*/
.artists{
	background: #242834;
	max-width: 1200px;
	height: 615px;
	padding-top: 50px;
}


.heading-blue-artists{
	font-family: 'Dosis', sans-serif;
	font-weight: bold;
	color: #35BBDE;
	text-align: center;
	font-size: 48px;
	padding-top: 30px;
	letter-spacing: 3px;

}

.artist-img{
	width: 320px;
	height: 320px;
	background-color: #D8D8D8;
	border-radius: 20px;
}

.artist-img1{
	width: 320px;
	height: 320px;
	background-image: url(https://i.imgur.com/8v6DHYr.jpg);
	border-radius: 20px;
}

.artist-img2{
	width: 320px;
	height: 320px;
	background-image: url(https://i.imgur.com/lvoDfmz.jpg);
	border-radius: 20px;
}

.artist-img3{
	width: 320px;
	height: 320px;
	background-image: url(https://i.imgur.com/9nuQG2U.jpg);
	border-radius: 20px;
}

/*PLAN STYLES END*/


/*STARTER KIT STYLES START*/
.starter-kit{
	background: #242834;
	max-width: 1200px;
	height: 900px;
	padding-top: 0px;
}

.kit-hero{
	width: 1200px;
	height: 400px;
	margin-top: 50px;
}


.kit-body-white{
	font-family: 'Dosis', sans-serif;
	color: #FFF;
	text-align: center;
	font-size: 36px;
	padding-top: 40px;
	line-height: 1.5;

}


.button-blue{
	width: 250px;
	height: 60px;
	margin-left: 475px;
	margin-top: 40px;
	border-radius: 40px;
	font-family: 'Dosis', sans-serif;
	color: #242834;
	text-align: center;
	font-size: 30px;
	background-color: #35BBDE;
	border: 0px;
	letter-spacing: 1px;
	transition: 0.2s ease-in-out
}

.button-blue:hover{
	width: 250px;
	height: 60px;
	margin-left: 475px;
	margin-top: 40px;
	border-radius: 40px;
	font-family: 'Dosis', sans-serif;
	color: #242834;
	text-align: center;
	font-size: 30px;
	background-color: #F5D71D;
	border: 0px;
	letter-spacing: 1px;
	transform: translateY(-8px);
	transition: 0.2s ease-in-out;

}
/*STARTER KIT STYLES END*/


/*STORE STYLES START*/
.store{
	background: #242834;
	max-width: 1200px;
	height: 650px;
	padding-top: 50px;
}

.store-img1{
	width: 320px;
	height: 320px;
	background-image: url(https://i.imgur.com/TM5aKgf.jpg);
	border-radius: 20px;
}

.store-img2{
	width: 320px;
	height: 320px;
	background-image: url(https://i.imgur.com/NaA7B4j.jpg);
	border-radius: 20px;
}

.store-img3{
	width: 320px;
	height: 320px;
	background-image: url(https://i.imgur.com/AqnzmHt.jpg);
	border-radius: 20px;
}

.heading-red-store{
	font-family: 'Dosis', sans-serif;
	font-weight: bold;
	color: #FF5252;
	text-align: center;
	font-size: 48px;
	letter-spacing: 3px;
	margin-top: 60px;
}

/*STORE STYLES END*/


/*VINYGRAM STYLES START*/
.vinylgram{
	background: #242834;
	max-width: 1200px;
	height: 950px;
	padding-top: 0px;
}
/*VINYGRAM STYLES END*/


/*FOOTER STYLES START*/
.footer{
	background: #F5D71D;
	max-width: 1200px;
	height: 40px;
}
/*FOOTER STYLES END*/